
@{
    ViewData["Title"] = "GameHaven";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в GameHaven</h1>
</div>
<div class="main">

    <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
  <div class="circle o"></div>
  <div class="circle h"></div>
  <div class="circle v"></div>
  <div class="center"><span class="orbit"></span><span class="orbit"></span></div>
</div>